<div class="game-tile space-up pad-left">
  <h2>Cardsets</h2>
  <form action="/cardsets/create" method="post" enctype="multipart/form-data">
    <div class="row" style="width: 50%">
      <div class="col-md-3">Name:</div><div class="col-md-9"><input type="text" name="name"></div>
      <div class="col-md-3">Choose a file:</div><div class="col-md-9"><input type="file" name="cardset-file"/></div>
      <div class="col-md-12"><input type="submit" value="Upload Cardset"></div>
    </div>
  </form>
  <div class="row" style="margin-left: 4em">
    {% for cardset in cardsets %}
    <div class="player-card down"><a href="/cardsets/{{ cardset }}">{{ cardset }}</a></div>
    {% endfor %}
  </div>
</div>

<div class="game-tile space-up pad-left">
  <h2>Games</h2>
  <form action="/games/create" method="post">
    <select name="cardset">
      {% for cardset in cardsets %}
        <option value="{{ cardset }}">{{ cardset }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Create Game">
  </form>

  {% for game in games %}
    <li><a href="/games/{{ game }}">{{ game }}</a>
  {% endfor %}
</div>
