{% extends 'base.html' %}
{% block title %}Cards!{% endblock %}

{% block content %}

<div class="game-tile space-up pad-left">
{% if session['username'] %}

 <div>Welcome, {{ session['username'] }}!</div>
 <div><em>Not {{ session['username'] }}? No worries, <a href="/login">change your name!</a></em></div>

  <h2>Join a game</h2>
  <div>Enter your game code: <input id="game-code" type="text" /><input type="button" value="Join" onclick="joinGame()"/></div>
{% else %}
{% include 'login.html' %}
{% endif %}
</div>

{% if session['is_gamemaster'] %}
  {% include 'gamelist.html' %}
{% endif %}

{% endblock %}

{% block custom_js %}
<script>
  function joinGame() {
    window.location = "/games/" + $("#game-code").val().toUpperCase();
  }
  $("#game-code").on('keypress',function(e) {
    if(e.which == 13) {
      joinGame()
    }
  });
</script>
{% endblock %}
